<nav class="navbar navbar-expand-md  bg-white container rounded-pill shadow">
    <div class="container-fluid">
      <a class="navbar-brand text-dark">Democratic Bank Of Kerala</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-dark fs-5"><i class="fa-solid fa-right-from-bracket" (click)="logout()"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>